body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Palatino', 'Palatino Linotype', 'Book Antiqua', serif;
  position: relative;
}

.row {
  display: flex;
  position: absolute;
  margin-left: 3%;
  margin-right: 3%;
}

.column {
  flex: 33.33333333%;
  text-align: center;
  font-family: 'DM Sans', sans-serif, 'Courier New', Courier, monospace;
  background-color: #DCF2F1;
  border-style: solid;
  border-radius: 20px;
  border-color: #365486;
  border-width: 0.2vw;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 8.0px 8.0px 0px 0px rgba(0, 0, 0, 0.174);
}

.column:hover {
  box-shadow: none;
}

.Company_Name {
  color: #0F1035;
  font-size: 1.2em;
  text-align: center;
}

p {
  font-size: 1em;
  font-family: 'DM Sans', sans-serif, 'Courier New', Courier, monospace;
  text-align: center;
}

.Description {
  font-size: small;
  color: #365486;
}

.top_row {
  text-align: center;
  font-family: 'DM Sans', sans-serif, 'Courier New', Courier, monospace;
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
  height: 20%;
  color: #365486;
  font-size: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

.dropdown {
  z-index: 1;
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: white;
  font-size: 1.8vw;
  font-family: 'DM Sans', sans-serif, 'Courier New', Courier, monospace;
  color: #0F1035;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: solid; border-width: thin;
  border-color: #365486;
  margin: 10%;
  border-radius: 20px;
}

.dropdown a {
  color: #0F1035;
  font-family: 'DM Sans', sans-serif, 'Courier New', Courier, monospace;
  display: block;
  text-decoration: none;
  font-size: 24px;
}

.dropdown .content {
  display: none;
  background-color: white;
  position: absolute;
  z-index: 1;
  padding-left: 30px;
  padding-top: 10%;
}

.dropdown:hover .content {
  display: block;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.dropdown a:hover {
  color: #365486;
  text-shadow: -2px 2px 2px #9BBEC8;
  transform: translateX(10px);
}

.dropdown button:hover {
  background-color: #365486;
  color: white;
}

.icon-container {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2);
}

img {
  width: 8%;
}

.close-dropdown {
  visibility: hidden;
}

@media screen and (max-width: 576px) {

  body .dropdown button {
    font-size: 1em;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .row {
    display: block;
    overflow-x: hidden;
  }

  .column {
    height: auto;
    text-align: center;
    margin-top: 10%; margin-bottom: 10%;
  }

  img {
    width: 20%;
  }

  .top_row {
    margin-top: 10%;
  }

  .close-dropdown {
    visibility: visible;
  }

}

@media screen and (max-width: 768px) {

  .close-dropdown {
      visibility: visible;
  }

  .dropdown button {
      font-size: 2em;
  }

  .top_row {
    margin-top: 10%;
  }

  img {
    width: 13%;
  }
      
}